body {
    margin: 0;
    font-family: 'Segoe UI', sans-serif;
}

.container {
    display: flex;
    height: 100vh;
}


.sidebar {
    width: 250px;
    background-color: #2e7d32;
    color: white;
    padding: 20px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.sidebar h2 {
    text-align: center;
    margin-bottom: 20px;
}

.menu-vertical a,
.menu-vertical button {
    display: flex;
    align-items: center;
    gap: 10px;
    background-color: #000;
    color: white;
    padding: 10px 15px;
    margin: 10px 0;
    border: none;
    border-radius: 25px;
    font-weight: bold;
    text-decoration: none;
    width: 100%;
    transition: all 0.3s ease;
    text-align: left;
}

.menu-vertical a:hover,
.menu-vertical button:hover {
    background-color: #222;
    transform: translateX(5px);
}

.main-content {
    flex: 1;
    padding: 40px;
    background-color: #f1f1f1;
}

.hospital-nombre {
    text-align: center;
    font-size: 14px;
    opacity: 0.8;
}
