{% load static %}
<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <title>Registrar Paciente</title>
    <link rel="stylesheet" href="{% static '/css/registro_paciente.css' %}">
</head>
<body>
    <h1>Registro de Paciente</h1>
    <form method="post">
        {% csrf_token %}

        <label for="idioma_hablado">Idioma hablado</label>
        <input name="idioma_hablado" required>

        <label for="cedula_identidad">Cédula de Identidad</label>
        <input name="cedula_identidad" required>

        <label for="nombres">Nombres</label>
        <input name="nombres" required>

        <label for="apellidos">Apellidos</label>
        <input name="apellidos" required>

        <label for="fecha_nacimiento">Fecha de Nacimiento</label>
        <input type="date" name="fecha_nacimiento" required>

        <label for="sexo">Sexo</label>
        <select name="sexo" required>
            <option value="">Seleccione Sexo</option>
            <option value="Masculino">Masculino</option>
            <option value="Femenino">Femenino</option>
        </select>

        <label for="direccion">Dirección</label>
        <input name="direccion" required>

        <label for="telefono">Teléfono</label>
        <input name="telefono" required>

        <label for="numero_emergencia">Número de Emergencia</label>
        <input name="numero_emergencia" required>

        <label for="correo">Correo Electrónico</label>
        <input name="correo" type="email">

        <label for="grupo_sanguineo">Grupo Sanguíneo</label>
        <input name="grupo_sanguineo">

        <label for="alergias">Alergias</label>
        <textarea name="alergias" rows="3"></textarea>

        <label for="enfermedades_base">Enfermedades Base</label>
        <textarea name="enfermedades_base" rows="3"></textarea>

        <button type="submit">Guardar Paciente</button>
    </form>
</body>
</html>

