{% load static %}
<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <title>Panel de Enfermería</title>
    <link rel="stylesheet" href="{% static 'enfermeria/css/MenuEnfermera.css' %}">
</head>
<body>
    <div class="panel">
        <h1>Bienvenido/a Lic.</h1>
        <p class="nombre-usuario">{{ nombre }}</p>

        <div class="btn-group">
            <button class="btn" onclick="location.href='/enfermeria/pacientes/'">👤 Pacientes</button>
            <button class="btn" onclick="location.href='/enfermeria/mapa-habitaciones/'">🏥 Hospitalizaciones</button>
            <button class="btn" onclick="location.href='/enfermeria/perfil/'">📋 Perfil</button>
            <button class="btn" onclick="location.href='/cerrar/'">🔒 Cerrar Sesión</button>
        </div>
    </div>
</body>
</html>
